<html>
    <head> <title> ceva </title>
    <link href="/bootstrap/css/bootstrap.css" rel="stylesheet">
    <link href="/bootstrap/css/bootstrap-responsive.css" rel="stylesheet">
    </head>

    <body>
        <div class="pull-right">
            <form class="well form-horizontal">
                <input type="text" class="input-small" placeholder="Email">
                <br />
                <input type="password" class="input-small" placeholder="Password">
                <label class="checkbox">
                    <input type="checkbox"> Remember me
                </label>
                <button class="btn">Register</button>
                <button type="submit" class="btn">Sign in</button>
            </form>
        </div>
    </body>
</html>
