<html>
    <head>
    <title>Login page</title>
    <link href="/bootstrap/css/bootstrap.css" rel="stylesheet">
    <link href="/bootstrap/css/bootstrap-responsive.css" rel="stylesheet">
    </head>

    <body>
        <div class="pull-right">
            <form method="POST" action="/sessions/create" class="well form-horizontal">
                <input name="email" type="text" class="input-small" placeholder="Email">
                <br />
                <input name="password" type="password" class="input-small" placeholder="Password">
                <label class="checkbox">
                    <input type="checkbox"> Remember me
                </label>
                <a class="btn" href="/register">Register</a>
                <button type="submit" class="btn">Sign in</button>
            </form>
        </div>
    </body>
</html>
