<html>
  <head>
  <title>Register</title>
  <link href="/bootstrap/css/bootstrap.css" rel="stylesheet">
  <link href="/bootstrap/css/bootstrap-responsive.css" rel="stylesheet">
  </head>

  <body>
    <div class="container">
      <form method="POST" action="/register" class="well form-vertical pull-left">
        <h3>Register yourself!</h3> <br />
        <input type="text" name="email" class="input-medium" placeholder="Email"> <br />
        <input type="password" name="password" class="input-medium" placeholder="Password"> <br />
        <input type="password" name="password2" class="input-medium" placeholder="Confirm Password">
        <label class="checkbox">
        
          <input type="checkbox"> Remember me
        </label>
        <button type="submit" class="btn">Register</button>
      </form>
    </div>
  </body>
</html>
